/*
http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Gilroy',Arial,'Helvetica Neue',Helvetica,sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.container {
  max-width: 1366px;
  padding: 0 20px;
  margin: 0 auto;
}

.icon {
  fill: #ffffff;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.header {
  //border: 1px solid;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
 // padding: 0 16px;
  &__content {
    background: #003c96;
    min-height: 72px;
    padding: 0 15px;
    border-radius: 4px;
    font-weight: 500;
    position: relative;
  }
  &__inner {
    min-height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
  }
  &__form {
    height: 36px;
    display: flex;
    align-items: center;
    border-radius: 20px ;
    color: #fff;
    width: 60%;
  }
  &__form-control {
    border-radius: 20px 0 0 20px;
    width: 123px;
    font-weight: 700;
    padding-right: 16px;
    background-color: #3363ab;
    height: 36px;
    padding-left: 16px;
    cursor: pointer;
    transition: all .3s;
    &:hover {
      background-color: #4a7ac1;
    }
    &:hover .header__form-sublist {
      display: block;
    }
    
  }
  &__form-btn {
    width: 100%;
    display: flex;
    align-items: center;
    height: 36px;
  }
  &__form-burger-icon {
    margin-right: 12px;
  }
  &__form-sublist {
    display: none;
    //border: 2px solid red;
    position: absolute;
    right: 0;
    left: 0;
    color: #000000;
    padding-top: 10px;
  }
  &__form-subitem {
    padding: 18px 13px;
    background: #fafafa;
    border-radius: 4px;
    box-shadow: 0 2px 13px 0 rgba(154,154,154, 0.5);
    color: #7b7b7b;
    min-height: 105px;
    
    font-weight: 400;
  }
  &__form-input {
    padding: 8px 50px 8px 16px;
    background-color: #ffffff;
    border-radius: 0 20px 20px 0;
    flex: 1;
    height: 36px;
    position: relative;
  }
  &__input {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    font-family: 'Gilroy',Arial,'Helvetica Neue',Helvetica,sans-serif;
    padding-top: 3px;
  }
  &__form-bar-icon {
    fill: #000000;
    position: absolute;
    right: 16px;
    top: 10px;
  }
  &__icons {
    
  }
  &__barIcon {
    display: none;
  }
  &__person-icon {
    margin-right: 3px;
  }
  &__search-bar-icon {
    display: none;
  }
  &__favorite-icon {
    margin-left: 16px;
    fill: none;
    stroke: #fff;
    stroke-width: 2

    
  }
  &__basket {
    position: relative;
    &::after {
      content: attr(inCart);
      display: inline-block;
      position: absolute;
      right: -2px;
      top: -15px;
      min-width: 17px;
      height: 15px;
      line-height: 15px;
      text-align: center;
      border-radius: 4px;
      border: 2px solid #003c96;
      background-color: #feeb99;
      //transform: scale(0);
      transform: scale(1);
      color: #111;
      font-size: 12px;
      font-weight: 500;
      transition: transform .5s ease-in-out;
      
    }
    &--favorite::after {
      right: -10px;
    }
  }
  &__basket-icon {
    margin-left: 16px;
    margin-right: 16px;
    height: 20px;
    width: 20px;
  }
}




#spread-svg {
  display: none;
}
